doctype html
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title= title
        link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        //header
        header
            nav(class="navbar navbar-expand-lg navbar-light bg-light")
                a(class="navbar-brand", href="#") Ambients
                button(class="navbar-toggler",
                    type="button", data-toogle="collapse",
                    data-target="#navbarSupportedContent",
                    aria-controls="navbarSupportedContent",
                    aria-expanded="false", aria-label="Toogle Navigation")
                    span(class="navbar-toggler-icon")
                div(class="collapse navbar-collapse" id="navbarSupportedCo" +
                ".ntent")
                    ul(class="navbar-nav mr-auto")
                        li(class="nav-item active")
                            a(class="nav-link" href="#") Home
                        li(class="nav-item")
                            a(class="nav-link" href="#") Details
        block content
        script(type='text/javascript', src="/node_modules/jquery/dist/jquery.slim.js")
        script(type='text/javascript', src="/node_modules/bootstrap/dist/js/bootstrap.js")
        script(type='text/javascript', src="/socket.io/socket.io.js")
        script(type='text/javascript', src="/javascripts/script.js")
